@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Poppins:wght@300&display=swap');

.div-principal{
    width: 80%;
    position: relative;
    top: 0;
    left: 20%;
    height: 100%;
    overflow: auto;
}