body {
    position: relative;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color: #dfdfdf;
}

h1 {
    margin-left: 24vw;
    margin-top: 5vh;
    font-size: 213;
}

.parteAcima {   
    display: flex;
    flex-direction: row;
    gap: 40vw;
}

.botaoCadastro button{
    display: none;
   
}


.card {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    height: 900px;

    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    padding: 10px;
    background-color: white;
    background-repeat: no-repeat;
  
    border-radius: 5px;
    margin-left: 30%;
    box-shadow: 17px 22px 11px -3px rgba(0, 0, 0, 0.1);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

th {
    font-size: 22px;
}

td {
    align-items: center;
    font-size: 16px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.deLado {
    display: flex;
    flex-direction: row;
}

.left-align {
    float: left;
}

.right-align {
    float: right;
    margin-right: 2%;
}

.fa-solid {
    transition: 0.3s all;
    color: black;
}

.fa-pen:hover {
    color: yellow;
}

.fa-trash:hover {
    color: red;
}


.fa-solid:hover {
    transition: 0.3s all;
}



/* #icon_remove, #icon_edit {
    flex-direction: column;
    justify-content: flex-end;
} */

/* *, *:before, *:after { box-sizing: border-box; }
body { height: 100vh; background: #ccc; overflow: hidden; }

.modal-container {
  margin: 60px auto;
  padding-top: 0px;
  position: relative;
  width: 160px;    
  .modal-btn {
    display: block;
    margin: 0 auto;      
    color: #fff;  
    width: 160px;
    height: 50px;    
    line-height: 50px;    
    background: #446CB3;
    font-size: 22px;       
    border: 0;
    border-radius: 3px;  
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 5px -5px #333;  
    transition: background 0.3s ease-in;
    &:hover { background: #365690; }
  }
  .modal-content, 
  .modal-backdrop {
    height: 0; 
    width: 0; 
    opacity: 0;    
    visibility: hidden;
    overflow: hidden; 
    cursor: pointer;
    transition: opacity 0.2s ease-in; 
  }
  .modal-close {
    color: #aaa;
    position: absolute;
    right: 5px;
    top: 5px;
    padding-top: 3px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    &:hover { color: #333; }        
  }      
  .modal-content-btn {
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    right: 30px;
    background: #458b9b;
    color: #fff;
    width: 50px;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding-top: 9px;
    font-weight: normal;
    &:hover { color: #fff; background: #365690; }
  }

  .modal-content-btn-left{
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    left: 30px;
    background: #458b9b;
    color: #fff;
    width: 50px;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding-top: 9px;
    font-weight: normal;
    &:hover { color: #fff; background: #365690; }
  }
  #modal-toggle {
    display: none;  
    &.active ~ .modal-backdrop,
    &:checked ~ .modal-backdrop {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9;
      visibility: visible;
      opacity: 1;      
      transition: opacity 0.2s ease-in; 
    }
    &.active ~ .modal-content,
    &:checked ~ .modal-content {
      opacity: 1;
      background-color: #fff;
      max-width: 400px;
      width: 400px;
      height: 280px;
      padding: 10px 30px;
      position: fixed;
      left: calc(50% - 200px);
      top: 12%;
      border-radius: 4px;
      z-index: 999;
      pointer-events: auto;
      cursor: auto;
      visibility: visible;      
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);  
      @media (max-width: 400px) { left: 0; }                   
    }  
  }
} */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #confirmarExclusao{
    display: flex;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    right: 30px;
    background: #458b9b;
    color: #fff;
    width: 70px;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding-top: 9px;
    font-weight: normal;
    border: 1px;
    &:hover { color: #fff; background: #365690; }
  }

  #cancelarExclusao{
    display: flex;
    border: 1px;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    left: 30px;
    background: #458b9b;
    color: #fff;
    width: 70px;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding-top: 9px;
    font-weight: normal;
    &:hover { color: #fff; background: #365690; }
  }

  .botoes{
    display: flex;
    justify-content: space-around;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  